.list.column
  display flex
  flex-direction column

.list.column
  & > div:first-child
    margin-top 0

  & > div
    margin-top 10px

.list.row
  display flex
  flex-direction row

.list.row
  & > div:first-child
    margin-left 0

  & > div
    margin-left 10px

.list.column.reverse
  & > div:first-child
    margin-bottom  0

  & > div
    margin-bottom  10px

.list.row.reverse
  & > div:first-child
    margin-right  0

  & > div
    margin-right 10px
